<div class="about" id="aboutus">
    <h1>About Us</h1>
    <!-- <h2>
        Currently Inside Outcomes is a two person team.
    </h2>  -->
    <img src="assets/Sandra-min.jpg" alt="Sandra Fawcett standing in an Australian rainforrest">
    <p>
        Sandra is a psychologist who has over 10 years industry specific experience. She currently provides
        counselling to
        children, youth and families. Inside Outcomes was her idea, motivated by a desire to facilitate more
        effective
        client outcomes. Sandra is the CEO and ultimately sets the direction for the company, makes calls about the
        project and does most of the research.
    </p>
    <img src="assets/Couple-min.jpg" alt="Sandra and David Fawcett and their two dogs">
    <p>David has over 20 years in IT and have a background in systems administration and project management.</p>
    <p class="married">As a married couple, we have wedded our particular ideas and expertise to consider this app
        from
        many perspectives. Together, we believe this app has great potential.</p>
</div>