<div class="wrapper">
  <nav class="navWrapper">
    <button mat-stroked-button routerLink="/">
      Home
    </button>
    <button mat-stroked-button disabled matTooltip="Coming Soon!">
      Psychology
    </button>
    <!-- <button mat-stroked-button>
      Software / IT
    </button> -->
    <button mat-stroked-button routerLink="/about">
      About Us
    </button>
    <button mat-stroked-button disabled matTooltip="Coming Soon!">
      Login
    </button>
  </nav>

  <router-outlet></router-outlet>
  <footer>
    <h2>Inside Outcomes, 2018.</h2>
  </footer>
</div>