.navWrapper {
    background: #F4E0A2;
}

.mat-stroked-button {
    background: #fff;
    border: 1px solid #000
}
/* 
footer {
    margin-top:20px;
    background: #2b3f4f;
}
html, body {
    background: #2b3f4f;
} */


@media (max-width:599px)

{
    .grid {
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background: #466680;
        grid-template-rows: auto repeat(1, 1fr) auto;
        grid-gap: 10px;
        /* width: 448px; */
    }
    
    /* h1 {
        font-size:calc(18px + 1vh);
    } */
    
    nav {
        display: flex;
        grid-column: 1;
        grid-row:1;
        background: transparent;
        color: #000;
        justify-self: center;
        justify-content: space-between;
        align-self: start;
        /* padding: 10px;
        padding-left: 5%;
        padding-right:5%; */
        z-index: 2;
        padding: 10px;
        /* border-radius: 0px 00px 20px 20px; */
        /* width: 100%; */
        /* box-shadow: 5px 5px 25px rgb(0,0,0,0.5); */
    }
    
    .button {
        width: 100%;
        height: auto;
        text-align: center;
        display: inline-block;
       
    }


    .button button {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    footer {
        grid-column: 1;
        grid-row: 9;
        align-self: center;
        background: #2b3f4f;
        width: 100%;
        text-align: center;
        color: #F4E0A2;
        /* padding: 10px; */
    }

    .mat-form-field-label .mat-form-field-appearance-legacy{
        color: #000 !important;
    }
    
}

@media (min-width: 600px) and (max-width:1149px)

{
        .grid {
            min-height: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            background: #466680;
            grid-template-rows: auto repeat(2, 1fr) auto;
            grid-gap: 1em;
        }
        
        /* h1 {
            font-size:calc(18px + 1vh);
        } */
        
        nav {
            display: flex;
            grid-column: 2;
            grid-row:1;
            background: transparent;
            color: #000;
            justify-self: center;
            justify-content: space-between;
            align-self: start;
            padding: 10px;
            padding-left: 5%;
            padding-right:5%;
            z-index: 2;
            border-radius: 0px 00px 20px 20px;
            /* width: 100%; */
            /* font-size:calc(18px + 1.5vh); */
            /* box-shadow: 5px 5px 25px rgb(0,0,0,0.5); */
        }

        .button {
            width: 100%;
            height: auto;
            text-align: center;
            display: inline-block;
        }
        .button button {
            margin-right: 5%;
            margin-left: 5%;
        }
        
        footer {
            grid-column: 1/4;
            grid-row: 9;
            align-self: center;
            background: #2b3f4f;
            width: 100%;
            text-align: center;
            color: #F4E0A2;
            /* padding: 10px; */
        }

}


@media(min-width: 1150px)

{

    .grid {
        min-height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background: #466680;
        grid-template-rows: auto repeat(3, 1fr) auto;
        grid-gap: 40px;
    }
    
    /* h1 {
        font-size:calc(18px + 1vh);
    } */
    
    nav {
        display: flex;
        grid-column: 1/6;
        grid-row:1;
        background: transparent;
        color: #000;
        justify-self: center;
        justify-content: space-between;
        align-self: start;
        padding: 10px;
        padding-left: 5%;
        padding-right:5%;
        z-index: 2;
        border-radius: 0px 20px 20px 20px;
        /* width: 100%; */
        font-size:calc(18px + 1.5vh);
        /* box-shadow: 5px 5px 25px rgb(0,0,0,0.5); */
    }
    
    .button {
        width: 100%;
        height: auto;
        /* padding-right: 10%; */
        text-align: center;
        display: inline-block;
        text-shadow: 0px 0px 1px #466680;
    }

    .button button {
        margin-right: 2%;
        margin-left: 2%;
    }
    
    footer {
        grid-column: 1/6;
        grid-row: 9;
        align-self: center;
        background: #2b3f4f;
        width: 100%;
        text-align: center;
        color: #F4E0A2;
        padding-bottom: 10px;
        padding-top: 10px;
    }

}



/* FORM ELEMENTS */
