/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|PT+Sans|Crimson+Text');
/* @import url('https://fonts.googleapis.com/css?family=Cinzel'); */

html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    font-size: larger;
    font-family: 'Crimson Text', serif;
    
}

html {
    height: 100%;
}

body {
    margin: 0px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
    font-style: normal;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 0px 0px 1px #466680;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    text-shadow: 0px 0px 1px #466680;
    /* font-style: bold; */
    /* letter-spacing: 3px; */
}

h3 {
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    /* font-style: bold; */
    /* letter-spacing: 3px; */
}

button {
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    /* font-style: bold; */
    /* letter-spacing: 2px; */
}

/* latin-ext */
/* @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  } */